* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

:root {
	--yellow-logo: #fdda00;
	--background-nav: #18306d;
	--background: #fff;
}

body {
	background: var(--background);
	color: #222831;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

body,
input,
button {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

button {
	cursor: pointer;
}

/*******************
    navbar
*******************/
.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.nav-wrapper {
	padding-inline: 10vw;
}
.navbar-collapse {
	justify-content: right;
}
.navbar-wrapper-brand {
	width: 80px;
	height: 56px;
	z-index: 2;
}
.brand {
	box-shadow: 0px 35px 30px rgba(0, 0, 0, 0.2);
}
.navbar-wrapper-toggle {
	align-self: baseline;
}
.navbar-nav {
	display: flex;
	align-items: center;
}
.bg-dark {
	background-color: #18306d !important;
}
.line-animation {
	position: relative;
}
.line-animation:hover {
	animation-name: navbarMenu;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	transition: color 300ms linear;
    color: #f8f9fa !important;
}
.line-animation::before {
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: '';
	background: var(--yellow-logo);
	width: 0%;
	height: 2px;
	transition: width 300ms linear;
}
.line-animation:hover:before {
	width: 100%;
}
.brand img:hover {
	animation-name: navbarLogo;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes navbarLogo {
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

/*******************
    welcome
*******************/
.welcome {
	margin-top: 6.5vh;
	height: 85vh;
}
.sponge {
	top: -70px;
	left: -60px;
	position: absolute;
	width: 300px;
}
.plasticbag {
	width: 300px;
	position: absolute;
	top: -50px;
	right: -50px;
}
.pizzabox {
	grid-area: pizzabox;
	max-width: 50vw;
	justify-self: end;
	align-self: center;
}
.welcome__center {
	top: 27vh;
	height: 50vh;
	width: 100vw;
	position: absolute;
	display: grid;
	grid-template-areas: 'presentation pizzabox';
}
.presentation {
	grid-area: presentation;
	justify-self: right;
	align-self: center;
}
.welcome .display-1 {
	font-weight: 1000;
	color: var(--yellow-logo);
}
.welcome .display-6 {
	font-weight: 500;
	color: var(--background);
}
.socialmedia {
	position: absolute;
	display: flex;
	right: 10vw;
	bottom: 150px;
}
.socialmedia i {
	font-size: 2.25rem;
	width: 45px;
	color: #807B5A;
}
.socialmedia i:hover {
	color: var(--yellow-logo);
	transition: 300ms;
}
.fixed_button {
	float: right;
	margin-right: 3vw;
	position: sticky;
	top: 86vh;
	z-index: 1;
}
.fixed_button i {
	color: #2b2b2b;
	font-size: 4rem;
}
.fixed_button i:hover {
	color: #25d366;
	transition: 600ms;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.welcome__center {
		grid-template-areas: 'presentation presentation';
	}
	.presentation {
		justify-self: center;
	}
	.sponge {
		top: 10px;
		width: 200px;
	}
	.plasticbag {
        top: 40px;
		width: 200px;
	}
	.pizzabox {
		display: none;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.welcome__center {
		grid-template-areas: 'presentation presentation';
	}
	.presentation {
		justify-self: center;
	}
	.pizzabox {
		display: none;
	}
}

/*******************
    brand
*******************/
.brand__presentation {
	margin-top: 10vh;
}
.brand__presentation > .bg-light {
	background: #fddb00a8 !important;
}
.brand__presentation .icon-square i {
	font-size: 2em;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/*******************
    mania
*******************/
.mania__presentation {
    margin-top: 10vh;
}
.wrapper__mania-presentation p {
    font-weight: 400;
}
.wrapper__mania-presentation a:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}

/*******************
    general products
*******************/
.general__products {
    margin-top: 20vh;
	display: grid;
	grid-template-areas:
		"restaurant verduleria panaderia"
		"carniceria kiosco     kiosco";
	gap: 2%;
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}
.products__box {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10%;
}
.products__box:hover {
	transform: scale(1.2);
	transition: 300ms;
}
.general__products h2 {
	padding-bottom: 1vh;
	font-size: 30px;
}
.products__box div {
	background-color: var(--background);
	border-radius: 20px;
	padding: 2%;
}
.restaurant {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/restaurant_background.jpg)
		center/cover no-repeat;
	grid-area: restaurant;
}
.kiosco {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/background_supermarket.jpg)
		center/cover no-repeat;
	grid-area: kiosco;
}
.verduleria {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/greengrocery_pattern.jpg)
		center/cover no-repeat;
	grid-area: verduleria;
}
.panaderia {
	background: url(https://github.com/estga/super-chainsaw/blob/main/images/bakery_pattern.jpg?raw=true)
		center/cover no-repeat;
	grid-area: panaderia;
}
.carniceria {
	background: url(https://github.com/estga/super-chainsaw/blob/main/images/meat_pattern.jpg?raw=true)
		center/cover no-repeat;
	grid-area: carniceria;
}

/* Responsive query */
@media all and (max-width: 576px) {
	.general__products {
		grid-template-areas:
			"restaurant"
			"verduleria"
			"panaderia"
			"carniceria"
			"kiosco"
			"kiosco";
	}
}
@media all and (min-width: 577px) and (max-width: 768px) {
	.general__products {
		grid-template-areas:
			"restaurant restaurant" "verduleria carniceria"
			"panaderia panaderia"
			"kiosco kiosco";
	}
}
@media all and (min-width: 769px) and (max-width: 992px) {
	.general__products {
		grid-template-areas:
			"restaurant verduleria"
			"panaderia carniceria"
			"kiosco kiosco";
	}
}

/*******************
    our clients
*******************/
.our__clients {
    margin-top: 20vh !important;
}
.clients__title p {
    font-weight: 400;
}
.clients__title span {
	border-bottom: solid var(--background-nav) 2px;
}
.clients__logo {
	margin-top: 7vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    justify-items: center; 
    align-items: center; 
}
.clients__logo > img {
	border-radius: 40px;
	width: 7em;
	border: solid 2px var(--background-nav) !important;
}

/* Responsive query */
@media all and (max-width: 576px) {
	.clients__logo {
		grid-template-columns: repeat(3, 1fr);
	}
    .clients__logo > img {
	    width: 5em;
    }
}
@media all and (min-width: 577px) and (max-width: 768px) {
	.clients__logo {
		grid-template-columns: repeat(3, 1fr);
	}
    .clients__logo > img {
	    width: 5.5em;
    }
}
@media all and (min-width: 769px) and (max-width: 992px) {
	.clients__logo {
		grid-template-columns: repeat(3, 1fr);
	}
    .clients__logo > img {
	    width: 6em;
    }
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	.clients__logo {
		grid-template-columns: repeat(5, 1fr);
	}
    .clients__logo > img {
	    width: 6.5em;
    }
}

/*
******************************
******************************
    contact
******************************
******************************
*/
.contact {
	clip-path: polygon(0 100%, 100% 100%, 100% 20%, 40% 20%, 28% 0, 28% 20%, 0 20%);
	background: #222831
		url(https://raw.githubusercontent.com/estga/furry-journey/main/images/mailGraphic.png)
		center left/66vh no-repeat;
	background-blend-mode: multiply;
	position: relative;
	z-index: 2;
	color: var(--background);
	min-height: 90vh;
}
.contact__wrapper {
    display: flex;
    justify-content: space-between;
}
.contact article {
	width: 33vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding-bottom: 10vh;
}
.contact h2 {
	font-weight: 900;
	padding-bottom: 2vh;
}
.contact span {
	border-bottom: solid var(--yellow-logo) 2px;
}
.contact__wrapper p {
    font-weight: 400;
}
.contact__form {
    margin-top: 29vh;
}
form label {
	font-size: 1.6rem;
}
form input,
textarea {
	border: none;
	padding: 1rem;
	height: 6vh;
	width: 33vw;
	margin-bottom: 2vh;
}
form textarea {
	height: 18vh;
	resize: none;
}
input[type="text"],
input[type="email"],
input[type="text"]:not(output):not(:focus),
input[type="email"]:not(output):not(:focus),
textarea {
	border-bottom: 2px solid var(--background);
	background: transparent;
	color: var(--background);
	font-size: var(--font-s);
	box-shadow: none;
	outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
	border-bottom: 2px solid #577bc1;
	transition: 300ms;
}
::placeholder {
	color: var(--background);
}
.form__wrapper button {
    color: var(--yellow-logo) !important;
    border-color: var(--yellow-logo) !important;
}
.form__wrapper button:hover {
    color: #171b20 !important;
    background-color: var(--yellow-logo) !important;
}

/* Responsive query */
@media all and (max-width: 768px) {
	.contact__wrapper {
		flex-direction: column;
	}
	.contact article {
		width: 100%;
		padding-bottom: 10vh;
	}
    .contact-title {
        margin-top: 30vh;
    }
    .contact__form {
        margin-top: 0;
    }
	form input,
	textarea,
	label {
		width: 100%;
	}
}

/*
******************************
******************************
    footer
******************************
******************************
*/
.footer {
	position: relative;
	z-index: 2;
	background-color: var(--background-nav);
	padding: 1vh 0;
}
.footer hr {
	border-top: solid 1px var(--yellow-logo);
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__menu {
	display: flex;
	flex-direction: column;
}
.footer__menu > a {
	color: black;
    text-decoration: none;
}
.footer__menu > a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__mark {
	color: black;
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.footer__mark a {
	color: black;
    text-decoration: none;
}
.footer__mark a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__mark i {
	color: var(--yellow-logo);
}
.footer__socialmedia {
	display: flex;
}
.footer__socialmedia > div {
	padding: 0 0.5vw;
}
.footer__socialmedia i {
	color: #171b20;
}
.footer__socialmedia i:hover {
	color: var(--yellow-logo);
	transition: 600ms;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.footer__socialmedia > div {
		padding: 0 1.2vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.footer__socialmedia > div {
		padding: 0 1vw;
	}
}

/*
******************************
******************************
******************************
******************************
    Quienes Somos
******************************
******************************
******************************
******************************
*
.quienes__somos {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/quienes_somos_background.jpg)
		top 26vh right 13vw/25vw no-repeat;
}
.historia {
	padding: 20vh 40vw 0 20vw;
}
.equipamiento {
	padding: 10vh 40vw 0 20vw;
}
.calidad,
.produccion,
.atencion,
.mision,
.vision {
	padding: 10vh 20vw 0 20vw;
}
.valores {
	padding: 10vh 20vw 10vh 20vw;
}
.quienes__somos__text > section {
	padding: 5vh 0;
}
.historia h2,
.equipamiento h2,
.calidad h2,
.produccion h2,
.atencion h2,
.mision h2,
.vision h2,
.valores h2 {
	color: #13a4dd;
	font-weight: 900;
}
.historia hr,
.equipamiento hr,
.calidad hr,
.produccion hr,
.atencion hr,
.mision hr,
.vision hr,
.valores hr {
	border-top: 1px solid #13a4dd;
}

/* Responsive query *
@media all and (max-width: 480px) {
	.quienes__somos {
		background: none;
	}
	.historia {
		padding: 10vh 10vw 0 10vw;
	}
	.equipamiento {
		padding: 10vh 10vw 0 10vw;
	}
	.calidad,
	.produccion,
	.atencion,
	.mision,
	.vision {
		padding: 10vh 10vw 0 10vw;
	}
	.valores {
		padding: 10vh 10vw 10vh 10vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.quienes__somos {
		background: none;
	}
	.historia {
		padding: 10vh 10vw 0 10vw;
	}
	.equipamiento {
		padding: 10vh 10vw 0 10vw;
	}
	.calidad,
	.produccion,
	.atencion,
	.mision,
	.vision {
		padding: 10vh 10vw 0 10vw;
	}
	.valores {
		padding: 10vh 10vw 10vh 10vw;
	}
}

/*
******************************
******************************
******************************
******************************
    faqs
******************************
******************************
******************************
******************************
*
.faqs {
	padding: 20vh 15vw 5vh 15vw;
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/faqs.jpg)
		top 7vh center/50vw no-repeat;
	display: flex;
	justify-content: space-between;
}
.bulto__abierto,
.bulto__cerrado {
	margin-top: 60vh;
	width: 33vw;
}
.bulto__abierto h2 {
	color: #13a4dd;
	font-weight: 900;
}
.bulto__abierto hr {
	border-top: 1px solid #13a4dd;
}
.bulto__cerrado h2 {
	color: #7813dd;
	font-weight: 900;
}
.bulto__cerrado hr {
	border-top: 1px solid #7813dd;
}
.faqs h2 {
	text-align: center;
	padding-bottom: 5vh;
}

/* Responsive query *
@media all and (max-width: 480px) {
	.faqs {
		padding: 20vh 5vw 5vh 5vw;
		background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/faqs.jpg)
			top 7vh center/90vw no-repeat;
		flex-direction: column;
	}
	.bulto__abierto,
	.bulto__cerrado {
		margin-top: 25vh;
		width: 90vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.faqs {
		padding: 20vh 5vw 5vh 5vw;
		background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/images/faqs.jpg)
			top 7vh center/60vw no-repeat;
		flex-direction: column;
	}
	.bulto__abierto,
	.bulto__cerrado {
		margin-top: 25vh;
		width: 90vw;
	}
}

/*
******************************
******************************
******************************
******************************
    condiciones
******************************
******************************
******************************
******************************
*
.condiciones {
	margin: 20vh 15vw 5vw 15vw;
}
.condiciones article {
	margin: 10vh 5vw 5vw 5vw;
}

/* Responsive query *
@media all and (max-width: 480px) {
	.condiciones {
		margin: 20vh 5vw 5vw 5vw;
	}
	.condiciones article {
		margin: 10vh 5vw 5vw 5vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.condiciones {
		margin: 20vh 10vw 5vw 10vw;
	}
	.condiciones article {
		margin: 10vh 5vw 5vw 5vw;
	}
}

/*
Breakpoint
    @media all and (min-width:1200px){ … }

    @media all and (min-width: 960px) and (max-width: 1199px) { … }

    @media all and (min-width: 768px) and (max-width: 959px) { … }

    @media all and (min-width: 480px) and (max-width: 767px){ … }

    @media all and (max-width: 479px) { … }
*/
