* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --background-nav: #577BC1;
}
html,
body {
	font-family: "Lato", sans-serif;
	color: #c9ccd5;
	overflow-x: hidden;
}





/*
******************************
******************************
    navbar section
******************************
******************************
*/
.navbar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: var(--background-nav);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
	z-index: 3;
    height: 4.1rem;
}
.navbar__wrapper--logo {
	margin: 0 0 -1rem 5vw;
}
.navbar__wrapper {
	margin: 0 5vw 0 0;
}
.navbar__wrapper li {
	display: inline;
	margin: 0rem 0.3rem;
}
.navbar__link {
	color: #cfcfcf;
	text-decoration: none;
	font-size: 1.4rem;
}
.navbar__link:hover {
	animation-name: navbarMenu;
	padding-bottom: 0.8rem;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	text-decoration: none;
	animation-timing-function: linear;
	color: #cfcfcf;
}

@keyframes navbarMenu {
	100% {
		padding-bottom: 0.2rem;
		border-bottom: 0.1rem solid #fdda00;
		color: #ffffff;
	}
}

.navbar__logo {
    box-shadow: 0px 37px 15px rgba(0, 0, 0, 0.7);;
}
.navbar__logo img:hover {
	animation-name: navbarLogo;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	transform: scaleX(1);
    text-decoration: none;
}

@keyframes navbarLogo {
	50% {
        transform: scaleX(-1);
    }
    100% {
		transform: scaleX(1);
	}
}

/* Responsive query */
@media (max-width: 576px) {
	.navbar {
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	.navbar__wrapper--logo {
		margin-top: 0.5rem;
	}
	.navbar__wrapper {
		margin: 0;
	}
	.navbar__logo {
		font-size: 1.3rem;
	}
	.navbar__link {
		font-size: 1.2rem;
	}
}

/*
******************************
******************************
    welcome article
******************************
******************************
*/
.welcome {
	padding-top: 12rem;
	width: 100vw;
    height: 100vh;
	min-height: 100vh;
	position: relative;
	z-index: 1;
}
.welcome__wrapper {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.presentation {
	max-width: 60%;
	padding-right: 14rem;
}
.welcome__description {
	font-size: 1.4rem;
	transition: 1200ms;
	padding: 0 3rem 0 0;
}
.welcome__wrapper > .socialmedia {
	display: inline-flex;
	position: absolute;
	bottom: 15%;
	padding: 6rem;
	transition: 400ms;
	align-self: flex-end;
}
.socialmedia > div {
	margin: 0rem 0.4rem;
}
a i {
	color: #bbbbbbb0;
}
.footer__wrapper--socialmedia a i:hover,
main a i:hover {
	color: #95d600;
	transition: 600ms;
}

/* responsive query */

@media (max-width: 576px) {
	.welcome {
		padding-top: 20rem;
	}
	.presentation {
		max-width: 85%;
		padding-right: 0;
	}
	.welcome__description {
		font-size: 1rem;
	}
	.welcome__name {
		font-size: 3rem;
	}
	.welcome__wrapper > .socialmedia {
		bottom: 5%;
		padding: 2rem;
	}
}