* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--yellow-logo: #fdda00;
	--background-nav: #577bc1;
	--background: #fffff5;
	--font-xs: 1rem;
	--font-s: 1.5rem;
	--font-m: 2rem;
	--font-l: 2.5rem;
	--font-xl: 3rem;
}
html,
body {
	font-family: "Lato", sans-serif;
	color: #222831;
	overflow-x: hidden;
	background-color: var(--background);
}

/*
******************************
******************************
    navbar section
******************************
******************************
*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: var(--background-nav);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	z-index: 3;
	height: 4.1rem;
}
.navbar__wrapper--logo {
	margin: 0 0 0 15vw;
}
.navbar__wrapper {
	margin: 0 15vw 3vh 0;
	align-self: center;
}
.navbar__wrapper a {
	margin: 0rem 0.5rem;
}
.navbar__link {
	color: #cfcfcf;
	text-decoration: none;
	font-size: var(--font-s);
}
.navbar__link:hover {
	animation-name: navbarMenu;
	padding-bottom: 0.8rem;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	text-decoration: none;
	animation-timing-function: linear;
	color: #cfcfcf;
}

@keyframes navbarMenu {
	100% {
		padding-bottom: 0.2rem;
		border-bottom: 0.1rem solid var(--yellow-logo);
		color: var(--background);
	}
}

.navbar__logo {
	box-shadow: 0px 37px 15px rgba(0, 0, 0, 0.2);
}
.navbar__logo img:hover {
	animation-name: navbarLogo;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	text-decoration: none;
}

@keyframes navbarLogo {
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

/* Responsive query */
@media (max-width: 576px) {
	.navbar {
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	.navbar__wrapper--logo {
		margin-top: 0.5rem;
	}
	.navbar__wrapper {
		margin: 0;
	}
	.navbar__logo {
		font-size: 1.3rem;
	}
	.navbar__link {
		font-size: 1.2rem;
	}
}

/*
******************************
******************************
    welcome
******************************
******************************
*/
.welcome {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background.jpg)
		center/cover no-repeat;
	height: 100vh;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
}
.welcome__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.presentation {
	background-color: #adadad80;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1vw;
	margin-bottom: 6vh;
}
.presentation img {
	width: 25vw;
	margin-bottom: 2vh;
}
.presentation h2 {
	font-size: var(--font-l);
}
.welcome__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #adadad80;
	width: 50vw;
	padding: 0 0 0 1vw;
}
.welcome__text img {
	height: 29rem;
}
.welcome__description {
	font-size: var(--font-s);
}
.welcome__description span {
    color: var(--yellow-logo);
}
.welcome__description .mania {
    font-family: 'Comforter Brush', cursive;
    font-size: var(--font-l);
    color: #222831;
}
.socialmedia {
	display: flex;
	position: absolute;
	right: 16vw;
	bottom: 15vh;
	transition: 400ms;
}
.socialmedia > div {
	margin: 0rem 0.4rem;
}
a i {
	color: #222831;
}
.footer__wrapper--socialmedia a i:hover,
.socialmedia a i:hover {
	color: var(--background-nav);
	transition: 600ms;
}
.fixed_button {
	position: fixed;
	bottom: 4vh;
	right: 2vw;
	z-index: 1;
}
.fixed_button i {
	color: #128c7e;
}
.fixed_button i:hover {
	color: #25d366;
	transition: 600ms;
}
/* responsive query */

@media (max-width: 576px) {
	.welcome {
		padding-top: 20rem;
	}
	.presentation {
		max-width: 85%;
		padding-right: 0;
	}
	.welcome__description {
		font-size: 1rem;
	}
	.welcome__name {
		font-size: 3rem;
	}
	.welcome__wrapper > .socialmedia {
		bottom: 5%;
		padding: 2rem;
	}
}

/*
******************************
******************************
    mania presentation
******************************
******************************
*/
.mania__presentation {
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 0);
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/Mania_logo_back.png)
		center/10vw repeat;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15vw;
}
.mania-logo {
	width: 33vw;
}
.mania__presentation > article {
	padding: 0 2vw;
}
.wrapper__mania-presentation > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: var(--font-s);
}
.wrapper__mania-presentation > div > p {
	margin-bottom: 5vh;
	padding: 0 0 0.3rem 1rem;
	background-color: var(--background);
}
.wrapper__mania-presentation span{
    font-family: 'Comforter Brush', cursive;
    font-size: var(--font-l);
    padding-right: 0.4rem;
}
.wrapper__mania-logo > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper__mania-logo > div > h2 {
	padding: 0 1rem 1rem 1rem;
	background-color: var(--background);
	font-size: var(--font-xl);
}
.button {
	background-color: var(--yellow-logo);
	color: var(--background-nav);
	text-decoration: none;
	font-size: 1.4rem;
    font-weight: 900;
	border-radius: 1rem;
	border: 1px solid var(--background-nav);
	padding: 1rem;
}
.button:hover {
	animation-name: button;
	animation-duration: 333ms;
	animation-fill-mode: forwards;
	text-decoration: none;
	background-color: var(--yellow-logo);
	animation-timing-function: linear;
	border: 1px solid var(--background-nav);
	color: var(--background-nav);
}

@keyframes button {
	100% {
		background-color: var(--background-nav);
		color: var(--yellow-logo);
		border: 1px solid var(--yellow-logo);
	}
}

/*
******************************
******************************
    general products
******************************
******************************
*/
.general__products {
	height: 100vh;
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background-general.jpg)
		center/cover no-repeat;
	margin-top: -21vh;
	padding: 10vh 15vw 0 15vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.products__box {
	width: 18vw;
	height: 18vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.products__box:hover {
	transform: scale(1.5);
	transition: 600ms;
}
.general__products > article > div > h2 {
	padding-bottom: 1vh;
	text-align: center;
}
.restaurant {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/restaurant_background.jpg)
		center/cover no-repeat;
}
.restaurant > div {
	background-color: var(--background);
	padding: 1rem 1rem 0.1rem 1rem;
	width: 11.27vw;
}
.kiosco {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background_supermarket.jpg)
		center/cover no-repeat;
}
.kiosco > div {
	background-color: var(--background);
	padding: 1rem 1rem 0.1rem 1rem;
	width: 13vw;
}
.verduleria {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/greengrocery%20background.jpg)
		center/cover no-repeat;
}
.verduleria > div {
	background-color: var(--background);
	padding: 1rem 1rem 0.1rem 1rem;
	width: 10.9vw;
}

/*
******************************
******************************
    our clients
******************************
******************************
*/
.our__clients {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15vw;
}
.clients__title {
	text-align: center;
	font-size: var(--font-l);
}
.clients__title > h2 {
	font-size: var(--font-xl);
	padding-bottom: 1.5vh;
}
.clients__title span {
    border-bottom: solid var(--background-nav) 2px;
}
.clients__logo {
	margin-top: 7vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 4vh 8vw;
}
.clients__logo > img {
	border-radius: 40px;
	width: 6.5vw;
	border: solid;
	border-color: var(--background-nav);
}
.clients__logo > img:hover {
	transform: scale(1.66);
	transition: 600ms;
}

/*
******************************
******************************
    contact
******************************
******************************
*/
.contact {
	margin-top: -10vh;
	clip-path: polygon(0 100%, 100% 100%, 100% 20%, 40% 20%, 28% 0, 28% 20%, 0 20%);
	background: #222831
		url(https://raw.githubusercontent.com/estga/furry-journey/main/images/mailGraphic.png)
		center left/66vh no-repeat;
	background-blend-mode: multiply;
	height: 100vh;
	position: relative;
	z-index: 2;
	display: flex;
	padding: 20vh 15vw 0 15vw;
	justify-content: space-between;
	align-items: center;
	color: var(--background);
	font-size: var(--font-m);
}
.contact article {
	width: 33vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact h2 {
	font-size: var(--font-xl);
	padding-bottom: 2vh;
}
.contact span {
    border-bottom: solid var(--yellow-logo) 2px;
}
form label {
	font-size: var(--font-s);
}
form input,
textarea {
	border: none;
	padding: 1rem;
	height: 6vh;
	width: 33vw;
	margin-bottom: 2vh;
}
form textarea {
	height: 18vh;
	resize: none;
}
input[type="text"],
input[type="email"],
input[type="text"]:not(output):not(:focus),
input[type="email"]:not(output):not(:focus),
textarea {
	border-bottom: 1px solid var(--background);
	background: transparent;
	color: var(--background);
	font-size: var(--font-s);
	box-shadow: none;
	outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
	border-bottom: 1px solid #577bc1;
    transition: 250ms;
}
::placeholder {
	color: var(--background);
}

/*
******************************
******************************
    footer
******************************
******************************
*/
.footer {
	position: relative;
	z-index: 2;
	background-color: var(--background-nav);
	padding: 1vh 0;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 15vw;
	align-items: center;
}
.footer__menu {
	display: flex;
	flex-direction: column;
}
.footer__menu > a {
	color: #222831;
}
.footer__menu > a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__mark {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.footer__mark a {
	color: #222831;
}
.footer__mark a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__socialmedia {
	display: flex;
}
.footer__socialmedia > div {
	padding: 0 0.3vw;
}
.footer__socialmedia i:hover {
	color: var(--yellow-logo);
	transition: 600ms;
}

/*
******************************
******************************
******************************
******************************
    Quienes Somos
******************************
******************************
******************************
******************************
*/
.quienes__somos {
    background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/quienes_somos_background.jpg) top 26vh right 13vw/25vw no-repeat;
}
.historia {
    padding: 20vh 40vw 0 20vw;
}
.equipamiento {
    padding: 10vh 40vw 0 20vw;
}
.calidad, .produccion, .atencion, .mision, .vision {
    padding: 10vh 20vw 0 20vw;
}
.valores {
    padding: 10vh 20vw 10vh 20vw;
}
.quienes__somos__text > section{
    padding: 5vh 0;
}
.historia h2, .equipamiento h2, .calidad h2, .produccion h2, .atencion h2, .mision h2, .vision h2, .valores h2 {
    color: #13A4DD;
    font-weight: 900;
}
.historia hr, .equipamiento hr, .calidad hr, .produccion hr, .atencion hr, .mision hr, .vision hr, .valores hr {
    border-top: 1px solid #13A4DD;
}

/*
******************************
******************************
******************************
******************************
    faqs
******************************
******************************
******************************
******************************
*/
.faqs {
    padding: 20vh 15vw 5vh 15vw;
    background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/faqs.jpg) top 7vh center/50vw no-repeat;
    display: flex;
    justify-content: space-between;
}
.bulto__abierto, .bulto__cerrado {
    margin-top: 60vh;
    width: 33vw;
}
.bulto__abierto h2 {
    color: #13A4DD;
    font-weight: 900;
}
.bulto__abierto hr {
    border-top: 1px solid #13A4DD;
}
.bulto__cerrado h2 {
    color: #7813DD;
    font-weight: 900;
}
.bulto__cerrado hr {
    border-top: 1px solid #7813DD;
}
.faqs h2 {
    text-align: center;
    padding-bottom: 5vh;
}

/*
******************************
******************************
******************************
******************************
    condiciones
******************************
******************************
******************************
******************************
*/
.condiciones {
    margin: 20vh 15vw 5vw 15vw;
}
.condiciones article {
    margin: 10vh 5vw 5vw 5vw;
}