* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--yellow-logo: #fdda00;
	--background-nav: #577bc2;
	--background: #fffff5;
	--font-xs: 1rem;
	--font-s: 1.5rem;
	--font-m: 2rem;
	--font-l: 2.5rem;
	--font-xl: 3rem;
}
html,
body {
	font-family: "Lato", sans-serif;
	color: #222831;
	background-color: var(--background);
}

/*
******************************
******************************
    navbar section
******************************
******************************
*/
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-nav);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	z-index: 3;
	height: 10vh;
	padding: 0 10vw;
}
.navbar__wrapper--logo {
	padding-top: 2vh;
}
.navbar__wrapper {
	margin-bottom: 2vh;
}
.navbar__wrapper a {
	margin: 0rem 0.5rem;
}
.navbar__link {
	color: #cfcfcf;
	padding-bottom: 0.4rem;
	text-decoration: none;
	font-size: 1.4rem;
	position: relative;
}
.navbar__link:hover {
	animation-name: navbarMenu;
	animation-fill-mode: forwards;
	text-decoration: none;
	animation-timing-function: linear;
	color: var(--background);
	transition: color 300ms linear;
}

.navbar__link::before {
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: "";
	background: var(--yellow-logo);
	width: 0%;
	height: 2px;
	transition: width 300ms linear;
}

.navbar__link:hover:before {
	width: 100%;
}

.navbar__logo {
	box-shadow: 0px 37px 15px rgba(0, 0, 0, 0.2);
}
.navbar__logo img {
	width: 10vh;
}
.navbar__logo img:hover {
	animation-name: navbarLogo;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	text-decoration: none;
}

@keyframes navbarLogo {
	50% {
		transform: scaleX(-1);
	}
	100% {
		transform: scaleX(1);
	}
}

/* Responsive query */
@media all and (max-width: 480px) {
	.navbar {
		padding: 0 5vw;
	}
	.navbar__link {
		font-size: 1.2rem;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.navbar {
		padding: 0 5vw;
	}
	.navbar__link {
		font-size: 1.2rem;
	}
}

/*
******************************
******************************
    welcome
******************************
******************************
*/
main {
	padding-top: 10vh;
}
.welcome {
	margin-right: 5vw;
	padding: 50vh 5vw 0 5vw;
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background.jpg)
		top right/50vw no-repeat;
	display: grid;
	grid-template-areas:
		"presentation  ."
		".             socialmedia";
	min-height: 90vh;
}
.presentation {
	grid-area: presentation;
	color: var(--background);
	background-color: var(--background-nav);
	text-align: center;
	align-self: center;
}
.presentation h1 {
	color: var(--yellow-logo);
	font-size: 3.5rem;
	font-weight: 800;
}
.presentation h2 {
	font-size: 2.5rem;
}
.welcome__image {
	grid-area: welcome__image;
}
.socialmedia {
	grid-area: socialmedia;
	margin-right: 5vw;
	justify-content: end;
	display: flex;
	transition: 400ms;
}
.socialmedia > div {
	margin: 0rem 0.4rem;
}
a i {
	color: #222831;
	font-size: 2.5rem;
}
.socialmedia i:hover {
	color: var(--background-nav);
	transition: 600ms;
}
.fixed_button {
	display: flex;
	justify-content: end;
	margin-right: 3vw;
	position: sticky;
	top: 86vh;
	z-index: 1;
	text-decoration: none;
}
.fixed_button:hover {
	text-decoration: none;
}
.fixed_button i {
	color: #128c7e;
	font-size: 4rem;
}
.fixed_button i:hover {
	color: #25d366;
	transition: 600ms;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.welcome {
		background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background.jpg)
			top right/90vw no-repeat;
		grid-template-areas:
			"presentation"
			"socialmedia";
		padding: 25vh 5vw 0 10vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.welcome {
		background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background.jpg)
			top right/90vw no-repeat;
		grid-template-areas:
			"presentation"
			"socialmedia";
		padding: 45vh 5vw 0 10vw;
	}
}
@media all and (min-width: 769px) and (max-width: 1279px) {
	.welcome {
		background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background.jpg)
			top right/66vw no-repeat;
	}
}

/*
******************************
******************************
mania presentation
******************************
******************************
*/
.mania__presentation {
	padding: 10vh 10vw 20vh 10vw;
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 0);
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/Mania_logo_back.png)
		center/10vw repeat;
	display: grid;
	grid-template-areas:
		".                  welcome__text"
		"mania-presentation mania-logo";
	min-height: 97vh;
}
.welcome__text {
	grid-area: welcome__text;
	background-color: var(--background-nav);
	font-size: var(--font-s);
	color: var(--background);
	margin: 0 0vw 3vh 0vw;
	border-radius: 30px;
}
.welcome__description span {
	color: var(--yellow-logo);
}
.welcome__description .mania {
	font-family: "Comforter Brush", cursive;
	font-size: var(--font-l);
	color: var(--background);
}
.mania-logo {
	width: 50%;
}
.mania__presentation > article {
	padding: 0 2vw;
}
.wrapper__mania-presentation {
	font-size: var(--font-s);
	grid-area: mania-presentation;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper__mania-presentation p {
	margin-bottom: 1vh;
	padding: 0 0 0.3rem 1rem;
}
.wrapper__mania-presentation span {
	font-family: "Comforter Brush", cursive;
	font-size: var(--font-l);
	padding-right: 0.4rem;
}
.wrapper__mania-logo {
	text-align: center;
	grid-area: mania-logo;
}
.wrapper__mania-logo h2 {
	padding: 0 1rem 1rem 1rem;
	font-size: var(--font-l);
}
.button {
	background-color: var(--yellow-logo);
	color: var(--background-nav);
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 900;
	border-radius: 1rem;
	border: 1px solid var(--background-nav);
	padding: 1rem;
}
.button:hover {
	animation-name: button;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
	text-decoration: none;
	background-color: var(--yellow-logo);
	animation-timing-function: linear;
	border: 1px solid var(--background-nav);
	color: var(--background-nav);
}

@keyframes button {
	100% {
		background-color: var(--background-nav);
		color: var(--yellow-logo);
		border: 1px solid var(--yellow-logo);
	}
}

/* Responsive query */
@media all and (max-width: 480px) {
	.mania__presentation {
		padding: 10vh 5vw 10vh 5vw;
		clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 0);
		grid-template-areas:
			"welcome__text"
			"mania-logo"
			"mania-presentation";
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.mania__presentation {
		padding: 10vh 5vw 10vh 5vw;
		clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 0);
		grid-template-areas:
			"welcome__text"
			"mania-logo"
			"mania-presentation";
	}
}
@media all and (min-width: 769px) and (max-width: 1279px) {
	.mania__presentation {
		clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 0);
	}
}

/*
******************************
******************************
    general products
******************************
******************************
*/
.general__products {
	padding: 5vh 15vw 15vh 15vw;
	display: grid;
	grid-template-areas:
		"restaurant verduleria panaderia"
		"carniceria kiosco     kiosco";
	gap: 2%;
	align-items: stretch;
	justify-content: center;
	min-height: 80vh;
}
.products__box {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10%;
}
.products__box:hover {
	transform: scale(1.2);
	transition: 300ms;
}
.general__products h2 {
	padding-bottom: 1vh;
}
.products__box div {
	background-color: var(--background);
	border-radius: 20px;
	padding: 2%;
}
.restaurant {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/restaurant_background.jpg)
		center/cover no-repeat;
	grid-area: restaurant;
}
.kiosco {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/background_supermarket.jpg)
		center/cover no-repeat;
	grid-area: kiosco;
}
.verduleria {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/greengrocery_pattern.jpg)
		center/cover no-repeat;
	grid-area: verduleria;
}
.panaderia {
	background: url(https://github.com/estga/super-chainsaw/blob/main/root/images/bakery_pattern.jpg?raw=true)
		center/cover no-repeat;
	grid-area: panaderia;
}
.carniceria {
	background: url(https://github.com/estga/super-chainsaw/blob/main/root/images/meat_pattern.jpg?raw=true)
		center/cover no-repeat;
	grid-area: carniceria;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.general__products {
		padding: 5vh 10vw 15vh 10vw;
		grid-template-areas:
			"restaurant"
			"verduleria"
			"panaderia"
			"carniceria"
			"kiosco"
			"kiosco";
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.general__products {
		padding: 5vh 10vw 15vh 10vw;
		grid-template-areas:
			"restaurant restaurant"
			"verduleria panaderia"
			"carniceria kiosco";
	}
}

/*
******************************
******************************
    our clients
******************************
******************************
*/
.our__clients {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10vh 15vw;
	min-height: 90vh;
}
.clients__title {
	text-align: center;
	font-size: var(--font-l);
}
.clients__title > h2 {
	font-size: var(--font-xl);
	padding-bottom: 1.5vh;
}
.clients__title span {
	border-bottom: solid var(--background-nav) 2px;
}
.clients__logo {
	margin-top: 7vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 4vh 8vw;
}
.clients__logo > img {
	border-radius: 40px;
	width: 6.5vw;
	border: solid 2px var(--background-nav);
}
.clients__logo > img:hover {
	transform: scale(1.66);
	transition: 300ms;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.clients__logo {
		margin-top: 7vh;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4vh 8vw;
	}
	.clients__logo > img {
		border-radius: 40px;
		width: 20vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.clients__logo {
		margin-top: 7vh;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 4vh 8vw;
	}
	.clients__logo > img {
		border-radius: 40px;
		width: 15vw;
	}
}

/*
******************************
******************************
    contact
******************************
******************************
*/
.contact {
	margin-top: -5vh;
	clip-path: polygon(0 100%, 100% 100%, 100% 20%, 40% 20%, 28% 0, 28% 20%, 0 20%);
	background: #222831
		url(https://raw.githubusercontent.com/estga/furry-journey/main/images/mailGraphic.png)
		center left/66vh no-repeat;
	background-blend-mode: multiply;
	position: relative;
	z-index: 2;
	display: flex;
	padding: 30vh 15vw 10vh 15vw;
	justify-content: space-between;
	align-items: center;
	color: var(--background);
	font-size: var(--font-m);
	min-height: 90vh;
}
.contact article {
	width: 33vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact h2 {
	font-size: var(--font-xl);
	padding-bottom: 2vh;
}
.contact span {
	border-bottom: solid var(--yellow-logo) 2px;
}
form label {
	font-size: var(--font-s);
}
form input,
textarea {
	border: none;
	padding: 1rem;
	height: 6vh;
	width: 33vw;
	margin-bottom: 2vh;
}
form textarea {
	height: 18vh;
	resize: none;
}
input[type="text"],
input[type="email"],
input[type="text"]:not(output):not(:focus),
input[type="email"]:not(output):not(:focus),
textarea {
	border-bottom: 1px solid var(--background);
	background: transparent;
	color: var(--background);
	font-size: var(--font-s);
	box-shadow: none;
	outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:not(output):focus,
input[type="email"]:not(output):focus,
textarea:focus {
	border-bottom: 1px solid #577bc1;
	transition: 250ms;
}
::placeholder {
	color: var(--background);
}

/* Responsive query */
@media all and (max-width: 480px) {
	.contact {
		padding: 40vh 5vw 10vh 5vw;
		flex-direction: column;
	}
	.contact article {
		width: 100%;
		padding-bottom: 10vh;
	}
	form input,
	textarea,
	label {
		width: 100%;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.contact {
		padding: 40vh 5vw 10vh 5vw;
		flex-direction: column;
	}
	.contact article {
		width: 100%;
		padding-bottom: 10vh;
	}
	form input,
	textarea,
	label {
		width: 100%;
	}
}

/*
******************************
******************************
    footer
******************************
******************************
*/
.footer {
	position: relative;
	z-index: 2;
	background-color: var(--background-nav);
	padding: 1vh 0;
}
.footer hr {
	border-top: solid 1px var(--yellow-logo);
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 10vw;
	align-items: center;
}
.footer__menu {
	display: flex;
	flex-direction: column;
}
.footer__menu > a {
	color: #222831;
}
.footer__menu > a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__mark {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.footer__mark a {
	color: #222831;
}
.footer__mark a:hover {
	color: var(--yellow-logo);
	transition: 600ms;
	text-decoration: none;
}
.footer__mark i {
	color: var(--yellow-logo);
}
.footer__socialmedia {
	display: flex;
}
.footer__socialmedia > div {
	padding: 0 0.5vw;
}
.footer__socialmedia i:hover {
	color: var(--yellow-logo);
	transition: 600ms;
}

/* Responsive query */
@media all and (max-width: 480px) {
	.footer__socialmedia > div {
		padding: 0 1.2vw;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	.footer__socialmedia > div {
		padding: 0 1vw;
	}
}

/*
******************************
******************************
******************************
******************************
    Quienes Somos
******************************
******************************
******************************
******************************
*/
.quienes__somos {
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/quienes_somos_background.jpg)
		top 26vh right 13vw/25vw no-repeat;
}
.historia {
	padding: 20vh 40vw 0 20vw;
}
.equipamiento {
	padding: 10vh 40vw 0 20vw;
}
.calidad,
.produccion,
.atencion,
.mision,
.vision {
	padding: 10vh 20vw 0 20vw;
}
.valores {
	padding: 10vh 20vw 10vh 20vw;
}
.quienes__somos__text > section {
	padding: 5vh 0;
}
.historia h2,
.equipamiento h2,
.calidad h2,
.produccion h2,
.atencion h2,
.mision h2,
.vision h2,
.valores h2 {
	color: #13a4dd;
	font-weight: 900;
}
.historia hr,
.equipamiento hr,
.calidad hr,
.produccion hr,
.atencion hr,
.mision hr,
.vision hr,
.valores hr {
	border-top: 1px solid #13a4dd;
}

/*
******************************
******************************
******************************
******************************
    faqs
******************************
******************************
******************************
******************************
*/
.faqs {
	padding: 20vh 15vw 5vh 15vw;
	background: url(https://raw.githubusercontent.com/estga/super-chainsaw/main/root/images/faqs.jpg)
		top 7vh center/50vw no-repeat;
	display: flex;
	justify-content: space-between;
}
.bulto__abierto,
.bulto__cerrado {
	margin-top: 60vh;
	width: 33vw;
}
.bulto__abierto h2 {
	color: #13a4dd;
	font-weight: 900;
}
.bulto__abierto hr {
	border-top: 1px solid #13a4dd;
}
.bulto__cerrado h2 {
	color: #7813dd;
	font-weight: 900;
}
.bulto__cerrado hr {
	border-top: 1px solid #7813dd;
}
.faqs h2 {
	text-align: center;
	padding-bottom: 5vh;
}

/*
******************************
******************************
******************************
******************************
    condiciones
******************************
******************************
******************************
******************************
*/
.condiciones {
	margin: 20vh 15vw 5vw 15vw;
}
.condiciones article {
	margin: 10vh 5vw 5vw 5vw;
}

/*
Breakpoint
    @media all and (min-width:1200px){ … }

    @media all and (min-width: 960px) and (max-width: 1199px) { … }

    @media all and (min-width: 768px) and (max-width: 959px) { … }

    @media all and (min-width: 480px) and (max-width: 767px){ … }

    @media all and (max-width: 479px) { … }
*/
